/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-Life .header{
  color: green;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
}

.MMM-Life .liferow {
  text-align: left;
  line-height: 20px;
}
.MMM-Life .staterow {
  text-align: left;
}

.MMM-Life .cell0 {
  color: white;                /* Color the text indication white. */
  width: 30px;
  font-weight: normal;
  text-align: left;
  border: 1px solid blue;
}

.MMM-Life .cell1 {
  color: green;                /* Color the text indication white. */
  width: 30px;
  font-weight: normal;
  text-align: left;
  border: 1px solid blue;
}

.KS-SH .state_on {
  color: green;               /* Color the on indication green. */
  font-weight: bold;
  text-align: left;
}

.KS-SH .state_off {
  color: red;                /* Color the off indication red. */
  font-weight: bold;
  text-align: left;
}

.KS-SH .date {
  color: white;               /* Color the date. Default is white. */
}

.KS-SH .duration {
  color: white;               /* Color possible duration. Default is white. */
}

.KS-SH .summary {
  color: white;               /* Color possible summary. Default is white. */
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
